@{
    ViewData["Title"] = "Home Page";

    Hospital.DB.Model.User user = Model as Hospital.DB.Model.User;
    string userType = ViewData["userType"].ToString();
}

<div>
      Hoş geldin! @userType  @user.nameSurname

</div>

<div>
    <a style="margin-top:20px" class="btn btn-info" asp-action="Index" asp-controller="Patient"> Hasta Kayıt </a>
</div>

