@{
    ViewData["Title"] = "Home Page";

    Hospital.DB.Model.User user = Model as Hospital.DB.Model.User;
    string userType = ViewData["userType"].ToString();
}

<div>
      Hoş geldin! @userType  @user.nameSurname

</div>

<div>
    @if (user.userTypeId == 2) //sadece kayıt elemanlarının görebileceği buton kontrolü
    {
        <a style="margin-top:20px" id="hastaKayıt" class="btn btn-info" asp-action="Index" asp-controller="Patient"> Hasta Kayıt </a>

    }

</div>

@*    <div id="xxxxx" class="showhide">
        <div class="hide">
            <a href="#xxxxx">Buton Göster/ Aç</a>
        </div>
    </div>*@

@*<script>
    function gizleGoster(hastaKayıtID) {
        var secilenID = document.getElementById(hastaKayıtID);
        if (secilenID.style.display == "none") {
            secilenID.style.display = "";
        } else {
            secilenID.style.display = "none";
        }
    }
</script>*@



