@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;

}



<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hospital.WEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hospital.WEB.styles.css" asp-append-version="true" />
</head>
    <body>
        <form asp-controller="Login" asp-action="SignIn">

           
            <div class="row col-10" >
               <div class="col-3"> <label> Kullanıcı Adı: </label></div>
               <div class="col-7"><input type="text" class="form-control" name="username" placeholder="Kullanıcı Adı: "> </div>
           </div>

             <div class="row col-10" >
                <div class="col-3"> <label> Şifre: </label></div>
                <div class="col-7"><input type="password" class="form-control" name="password" placeholder="Şifre: "> </div>
             </div> 

             <div class="row col-10">
                 <div class="col-4"></div>
                 <div class="col-6"> <button style="margin-top:20px" class="btn btn-primary"> Giriş </button> </div>
                 
             </div>
            
        </form >



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    </body>
</html>